.header{
    width: 100vw;
    height: 385px;
    background-color: #E5E5E5;
    position: absolute;
    top: 70px;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.header h2{
    color: #ffffff;
    font-weight: 700;
    margin-top: 110px;
}
.header p{
    color: #C4C4C4;
    font-weight: 500;
    margin-top: 20px;  
}
.header input{
    margin-top: 30px;
    padding: 15px 30px;
    width: 50%;
    border-radius: 8px;
    outline: none;
    border: 1px solid #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

